<div class="menu">
  <div class="menu__i">
    <div class="menu__logo">
      <img src="../../../../../assets/img/lotus-logo-png.png" alt="" class="menu__img">
    </div>
    <ul class="menu__list">
      <li class="menu__item">
        <span [routerLink]="'profile'" routerLinkActive="menu__link_active" class="menu__link">Профиль</span>
      </li>
      <li class="menu__item">
        <span [routerLink]="'cards'" routerLinkActive="menu__link_active" class="menu__link">Карточки</span>
      </li>
      <li class="menu__item">
        <span [routerLink]="'association'" routerLinkActive="menu__link_active" class="menu__link">Мнемоника</span>
      </li>
      <li class="menu__item">
        <span [routerLink]="'audio'" routerLinkActive="menu__link_active" class="menu__link">Аудио</span>
      </li>
      <li class="menu__item">
        <span [routerLink]="'dictionary'" routerLinkActive="menu__link_active" class="menu__link">Словарь</span>
      </li>
      <li class="menu__item">
        <span [routerLink]="'test'" routerLinkActive="menu__link_active" class="menu__link">Тестирование</span>
      </li>
      <li class="menu__item">
        <span class="menu__link" (click)="LogOut()">Выход</span>
      </li>
    </ul>
  </div>
</div>
