<form [formGroup]="form" (ngSubmit)="onSubmit()" class="login__form">
  <div class="login__group">
    <label for="email" class="login__label">Username</label>
    <div class="login__input-group">
      <input [ngClass]="{'login__input_error':form.get('email').invalid && form.get('email').touched}" type="text" class="login__input" id="email" placeholder="Email" formControlName="email">
      <i class="far fa-envelope"></i>
    </div>
    <span *ngIf="form.get('email').invalid && form.get('email').touched" class="login__error">Email can not be empty and without . or @</span>
  </div>
  <div class="login__group">
    <label for="password" class="login__label">Password</label>
    <div class="login__input-group">
      <input [ngClass]="{'login__input_error':form.get('password').invalid && form.get('password').touched}" type="password" class="login__input" id="password" placeholder="Password" formControlName="password">
      <i class="fas fa-lock"></i>
    </div>
    <span *ngIf="form.get('password').invalid && form.get('password').touched" class="login__error">Password must be more than 6 symbols and not empty</span>
  </div>
  <div class="login__group_btn">
    <div class="login__group_btn_first">
      <div class="login__group_btn_second">
      </div>
      <button type="submit" class="login__btn">Entry</button>
    </div>
  </div>
  <div class="login__group">
    <p class="login__text"> You do not have account? <a routerLink="/auth/signup" class="login__link">Registration!</a></p>
  </div>
</form>
